.About {
  background-color: rgb(20, 20, 20);
  padding: 8vw;
  color: white;
  text-align: center;
}

.About .title {
  font-family: "SUIT-ExtraBold";
  color: rgb(192, 255, 55);
  font-weight: bold;
  font-size: 5vw;
}

.About .me {
  margin-top: 4vw;
  font-size: 2vw;
  font-weight: bold;
}

.About .school {
  font-size: 0.8vw;
}

.About .info {
  color: white;
  font-size: 1.2vw;
  line-height: 2.2vw;
}

.About h3 {
  font-size: 2vw;
  font-weight: bold;
}
