.About {
  background-color: transparent;
  width: min(1100px, 60vw);
  margin: auto;
  margin-bottom: 8vw;
  color: black;
  cursor: default;
  text-align: left;
}

.About .title {
  color: black;
  font-weight: bold;
  font-size: 3vw;
  border-bottom: 1px solid black;
  margin-bottom: 3vw;
}

.About .me {
  font-size: 1.6vw;
  font-weight: bold;
}

.About .school {
  margin-top: 1vw;
  margin-bottom: 3vw;
  font-size: 1vw;
  font-weight: 600;
}

.About .info {
  color: black;
  font-size: 1.2vw;
  font-size: min(18px, 1.1vw);
  line-height: min(30px, 1.8vw);
  margin-bottom: 3vw;
}

.About h3 {
  font-size: 1.6vw;
  font-weight: bold;
  line-height: 4vw;
}
