.Contact {
  background-color: transparent;
  width: min(1100px, 60vw);
  margin: auto;
  padding-top: 4vw;
  margin-bottom: 8vw;
  color: rgb(230, 230, 230);
  cursor: default;
  text-align: left;
}

.Contact .title {
  color: black;
  font-weight: bold;
  font-size: 3vw;
  border-bottom: 1px solid black;
  margin-bottom: 3vw;
}

.Contact .info {
  color: black;
  font-size: min(16px, 1.1vw);
  line-height: min(30px, 2.2vw);
}

.Contact .info a {
  text-decoration: none;
  color: black;
}

.Contact .info a:hover {
  text-decoration: underline;
  color: rgb(200, 200, 200);
}

.Contact h3 {
  font-size: 2vw;
}
