.Contact {
  background-color: transparent;
  width: min(1100px, 60vw);
  margin: auto;
  padding-top: 4vw;
  margin-bottom: 12vw;
  color: rgb(230, 230, 230);
  cursor: default;
  text-align: left;
}

.Contact .title {
  font-family: "SUIT-ExtraBold";
  color: rgb(192, 255, 55);
  font-weight: bold;
  font-size: 5vw;
  margin-bottom: 4vw;
}

.Contact .info {
  color: rgb(230, 230, 230);
  font-size: min(18px, 1.2vw);
  line-height: min(30px, 2.2vw);
  letter-spacing: 1.1px;
}

.Contact .info a {
  text-decoration: none;
  color: rgb(230, 230, 230);
}

.Contact .info a:hover {
  text-decoration: underline;
  color: rgb(192, 255, 55);
}

.Contact h3 {
  font-size: 2vw;
  font-weight: bold;
}
