.Footer {
  background-color: black;
  font-size: 1.4vw;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 6vw;
  padding-bottom: 2vw;
}

.Footer .madeBy {
  color: white;
  float: right;
}

.Footer .madeBy a {
  color: rgb(192, 255, 55);
  font-weight: bold;
}

.Footer .copyright {
  color: white;
}
