.Footer {
  background-color: transparent;
  font-size: min(16px, 1.1vw);
  padding: 4vw;
  padding-top: 6vw;
  padding-bottom: 2vw;
  z-index: 10;
  cursor: default;
}

.Footer .madeBy {
  color: black;
}

.Footer .madeBy a {
  font-weight: bold;
}

.Footer .copyright {
  float: right;
}
