.Footer {
  background-color: transparent;
  font-size: min(18px, 1.2vw);
  padding: 14vw;
  padding-top: 6vw;
  padding-bottom: 2vw;
  z-index: 10;
  cursor: default;
}

.Footer .madeBy {
  color: rgb(230, 230, 230);
  float: right;
}

.Footer .madeBy a {
  color: rgb(192, 255, 55);
  font-weight: bold;
}

.Footer .copyright {
  color: rgb(230, 230, 230);
}
