.Main {
  width: 100%;
  height: 100vh;
  text-align: center;
  margin: 0;
  cursor: default;
  background: linear-gradient(
    45deg,
    #ee765295,
    #e73c7e95,
    #23a6d595,
    #23d5ab95
  );
}

.Main .myPhoto {
  padding-top: 14vh;
}

.Main .myPhoto img {
  width: 12vw;
}

.Main .subTitle {
  color: black;
  font-size: 1.2vw;
  animation: smoothAppear 1.4s ease-in-out 0.2s 1 normal forwards;
  opacity: 0;
  margin-top: 1vw;
}

.Main .subTitle a {
  font-weight: bold;
  text-decoration: underline;
}

.Main .title {
  margin-top: 1vw;
  color: black;
  font-family: "SUIT-ExtraBold";
  font-weight: bold;
  font-size: 4vw;
  line-height: 5vw;
  animation: smoothAppear 1.4s ease-in-out 0s 1 normal forwards;
  opacity: 0;
}

.Main .myPhoto {
  animation: smoothAppear 1.4s ease-in-out 0.4s 1 normal forwards;
  opacity: 0;
}

@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(-3vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Main .scrollIcon {
  position: fixed;
  left: 46vw;
  bottom: 2vw;
  margin-bottom: 1vw;
  width: 8vw;
  animation: float 1.8s ease-in-out infinite;
  opacity: 0;
  transition-duration: 1s;
}

.Main .on {
  opacity: 0.4;
  transition-duration: 1s;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(30px);
  }
  100% {
    transform: translatey(0px);
  }
}
