.ParallaxBG {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-color: white;
}

.ParallaxBG .circle1 {
  position: absolute;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: rgba(200, 200, 200, 0.03);
}

.ParallaxBG .circle2 {
  position: absolute;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: rgba(200, 200, 200, 0.13);
}

.ParallaxBG .circle3 {
  position: absolute;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background-color: rgba(200, 200, 200, 0.13);
}
