.Portfolio {
  background-color: transparent;
  width: min(1100px, 60vw);
  margin: auto;
  padding-top: 4vw;
  margin-bottom: 8vw;
  color: black;
  cursor: default;
}

.Portfolio .title {
  color: black;
  font-weight: bold;
  font-size: 3vw;
  border-bottom: 1px solid black;
}

.Portfolio .yearLine {
  margin-top: 2vw;
  margin-bottom: 2vw;
  border-bottom: 1px solid #dedede;
  font-weight: bold;
  font-size: 2vw;
}

.Portfolio .thumbnail {
  float: left;
  margin-right: 2vw;
  width: 20vw;
  border-radius: 0.4vw;
}

.Portfolio img:hover {
  cursor: pointer;
}

.Portfolio .imgDescription {
  height: 150px;
  font-size: min(18px, 1.1vw);
  line-height: min(30px, 1.8vw);
}

.Portfolio .imgDescription div {
  font-weight: bold;
}

.Portfolio .imgDescription div a {
  font-weight: normal;
  color: rgb(200, 200, 200);
  font-size: 0.8vw;
}

.Portfolio .link {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

.Portfolio .link:hover {
  text-decoration: underline;
  color: rgb(200, 200, 200);
}
