.Portfolio {
  background-color: transparent;
  width: min(1100px, 60vw);
  margin: auto;
  padding-top: 4vw;
  margin-bottom: 12vw;
  color: rgb(230, 230, 230);
  cursor: default;
}

.Portfolio .title {
  font-family: "SUIT-ExtraBold";
  text-align: left;
  color: rgb(192, 255, 55);
  font-weight: bold;
  font-size: 5vw;
  margin-bottom: 4vw;
}

.Portfolio .info {
  color: rgb(230, 230, 230);
  font-size: 1.2vw;
  line-height: 2.2vw;
  margin-top: 1.6vw;
}

.Portfolio .portfolio1 .name {
  width: 90%;
  margin: auto;
  margin-bottom: 1vw;
  font-weight: bold;
  font-size: min(18px, 1.2vw);
}

.Portfolio .portfolio1 img {
  display: block;
  margin: auto;
  width: 90%;
  height: auto;
  border-radius: 2vw;
  /* transform: translateX(-100%); */
  opacity: 1;
  text-align: center;
  margin-bottom: 2vw;
}

.Portfolio .portfolio1 .description {
  width: 90%;
  margin: auto;
  color: rgb(230, 230, 230);
  font-size: min(18px, 1.2vw);
  line-height: min(30px, 2.2vw);
  letter-spacing: 1.1px;
}
