.TopButton {
}

.TopButton button {
  position: fixed;
  bottom: 6vw;
  right: 4vw;
  background-color: black;
  color: white;
  position: fixed;
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  border: 0 none;
  font-size: 2vw;
  padding-top: 0.5vw;
  cursor: pointer;
  transition: all 0.6s ease-in-out, background-color 0.1s ease-in-out;
}
.TopButton button:hover {
  background-color: rgb(230, 230, 230);
}

.TopButton .unvisible {
  bottom: -2vw;
  opacity: 0;
}

.TopButton .visible {
  z-index: 10;
  opacity: 1;
}
